name: Production Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Stop current services
            pkill -f "python" || true
            
            # 2. Get latest code
            cd conference-room-booking
            git reset --hard origin/main
            git pull origin main
            
            # 3. Restart Application
            chmod +x start.sh
            # Run in background so GitHub doesn't hang
            nohup ./start.sh > output.log 2>&1 &
            echo "Deployment Triggered!"